.title {
    color: rgb(60, 216, 216);
    font-size: 50px;
    text-shadow:
        -2px -2px 0 #ba3994,
        2px -2px 0 #ba3994,
        -2px 2px 0 #ba3994,
        2px 2px 0 #ba3994;
        opacity: 0.8;
}

img {
    height: 100%;
    width: 100%;
}

button {
    background-color: transparent !important;
    opacity: 0.8;
    /* background-image: url("../images/stars.gif"); */
    color: rgb(224, 76, 175) !important;
    text-shadow:
    -2px -2px 0 blue,
    2px -2px 0 blue,
    -2px 2px 0 blue,
    2px 2px 0 blue;
    
}
 
button:hover {
    text-shadow:
        -2px -2px 0 blue,
        2px -2px 0 blue,
        -2px 2px 0 blue,
        2px 2px 0 blue;
    color: red !important;
}

strong {
    font-size: 30px;
}

#scoreDiv {
    background: pink;
    border-radius: 15px;
    opacity: 0.6;
}

#scoreDiv2 {
    background: lightblue;
    border-radius: 15px;
    opacity: 0.7;
}

.container-2 {
    background: lightblue;
    border-radius: 15px;
}

#scoreTitle {
    background: teal;
    opacity: 0.6;
    border-radius: 10px;
}

#scoreWins {
    background: pink;
}

#scoreLosses {
    background: lightblue;
}

body {
    background-image: url(../images/stars.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}
    
.crystalsDiv {
    justify-content: center;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}

.crystalImg {
    height: 180px;
    width: 180px;
    opacity: 0.7;
    border-radius: 20px;
}

.container {
    font-family: 'Lilita One', cursive;
    font-size: 25px;    
}

.modal-content {
    opacity:0.8 !important;
}
/* Note: opacity property can take a value from 0.0 - 1.0. Memorize: the lower value, the more transparent the container or image.
/* Note: !important overwrites the default property value found in bootstrap